body {
  background-color: rgb(0, 0, 0);
}
p {
    color:white;
    font-size:20px;
}

button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  font-size: 20px;
}

#überschrift1 {
text-align:center;
color:aliceblue;
font-size:70px;
color:white;
}
#überschrift2 {
  text-align: center;
    color: aliceblue;
 font-size:50px;
}
