body {
  background-color: rgb(204, 204, 204);
  text-align:center;
}


#überschrift1 {
text-align:center;
font-size:70px;
color:grey;
font-style: bold;
}
#überschrift2 {
  text-align: center;
  color:grey;
 font-size:50px;
 font-style: bold;
}
#div1, #div2, #div3 {
  width: 400px;
  height: 200px;
  background-color: white;
  border: 2px solid black;
  text-align: center;
  padding: 20px;
  margin: 10px;
  vertical-align: top;
  display: inline-block;
}
#button1 {
  color: black;
  font-size: 20px;
  text-align: center;
  border: none;
  position:relative;
  right:1240px;
  top:263px;
}
#button2 {
  color: black;
  font-size: 20px;
  text-align: center;
  border: none;
  position:relative;
  right:350px;
}
#betton1 {
  color: black;
  font-size: 20px;
  text-align: center;
  border: none;
  position:relative;
  right:120px;
}
#betton2 {
  color: black;
  font-size: 20px;
  text-align: center;
  border: none;
  position:relative;
  right:120px;
}
#batton1 {
  color: black;
  font-size: 20px;
  text-align: center;
  border: none;
  position:relative;
  left:470px;
}
#batton2 {
  color: black;
  font-size: 20px;
  text-align: center;
  border: none;
  position:relative;
  left:470px;
}
