h1 {
    font-size: 120px;
    font-family: sans-serif;
    background-color: brown;
    text-align:center;
  color: rgb(0, 0, 0);
  margin-left: 10px;
  font-size: 50px;
}
body {
  background-color: rgb(0, 0, 0);
}

button {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
