
body {
  background-color: rgb(0, 0, 0);
}

p {
    color:white;
    font-size:20px;
}

#überschrift1 {
text-align:center;
font-size:70px;
color:grey;
font-style: bold;
}
#überschrift2 {
  text-align: center;
  color:grey;
 font-size:50px;
 font-style: bold;
}
#button1 {
  color: black;
  font-size: 20px;
  text-align: center;
  background-color: black;
  border: none;
}

#button {
  background-color: gray;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 20px;
}
#button2 {
    background-color: black;
  color: black;
  font-size: 20px;
  position:fixed;
    bottom: 20px;
    right: 20px;
  border: none;
   
}   
